.ui-pnotify.taborder-reloadneeded .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-pnotify.taborder-reloadneeded .ui-pnotify-title, .ui-pnotify.taborder-reloadneeded .ui-pnotify-text {
	color: #FFF !important;
}
.ui-pnotify.taborder-reloadneeded .ui-pnotify-title {
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FFF;
	text-indent: -60px;
}
.ui-pnotify.taborder-reloadneeded .ui-pnotify-icon {
	margin-top: 40px;
	float: left;
}
.ui-pnotify.taborder-reloadneeded .icon {
	margin: 10px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #FFF;
}